<!doctype html>
<html lang="en">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Go Automation ...</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active, bg-yellow">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{% url 'userstories_home' %}">User Stories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'smart_home' %}">smart</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auto_home' %}">smartCPQ</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link" href="{% url 'testsuite_home' %}">Test Suite</a>
        </li>
        

        <!-- Test Suite-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Suite
          </a>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Case
          </a>
        
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'restAPI_elements' %}">Test Cases</a>
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="#">Others</a>
          </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>>
        </li>

    
        <!-- API-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            API
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'restAPI_elements' %}">Elements</a>
            <div class="dropdown-divider"></div>
          
            <a class="dropdown-item" href="#">Others</a>
          </div>
        </li>
      
      -->
     

        <!-- Common Setup-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Common Setup
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Placeholder</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Placeholder</a>
            <a class="dropdown-item" href="#">Others</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
     
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
    </div>
</nav>

<!--main class="container"-->
    {% block content  %}
    {% endblock   %}
<!--/main-->


</html>